*{
  color: #FFFFFF;
}

#background-web{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #3A4043; 
  height: 100%;
  z-index: -1;
}

#header{
  margin: 0;
  position: static;
  z-index: 10;
  top:0;
  right: 0;
  left:0;
  height: 50px; 
  background: black; 
  color: #fff; 
  padding: 1px;
  
}

li{
  display: inline-block; 
}